#serverSelectContainer{
    overflow-y: auto;
    max-width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.cS{
    left: 0px;
    right: 0px;
}
.w100{
    width: 100%;
}