<div class="main df aic">
    <div class="row items">
        <div class="col-4 p0"></div>
        <div class="col-4 p0">
            <div class="row">
                <div class="col-1 p0"></div>
                <div class="col-md-10">
                    <div class="df jcc">
                        <!--Header-->
                    </div>
                    <div>
                        <div>
                            <input class="form-control" type="text" placeholder="Username" id="inputUsername">
                        </div>
                        <div>
                            <input class="form-control" type="password" placeholder="Password" id="Password">
                        </div>
                    </div>
                </div>
                <div class="col-1 p0"></div>
            </div>
            <div class="di">
                <button class="btn btn-outline-primary"><h4 class="m0">LOGIN</h4></button>
            </div>
        </div>
        <div class="col-4 p0"></div>
    </div>
</div>